#! /bin/bash

set -eufo pipefail

{{ $brews := list
     "bat"
     "bottom"
     "curl"
     "docker"
     "exa"
     "gdu"
     "gh"
     "git-lfs"
     "git"
     "jq"
     "lazygit"
     "neovim"
     "node"
     "python"
     "ripgrep" -}}
{{ $casks := list
     "visual-studio-code"
     "warp" -}}

{{ if .personal -}}
{{   $casks = concat $casks (list
       "whatsapp") -}}
{{ end -}}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
