[".config/nvim"]
    type = "archive"
    url = "https://github.com/AstroNvim/AstroNvim/archive/refs/tags/v3.31.2.tar.gz"
    exact = true
    refreshPeriod = "168h"
    stripComponents = 1

{{- if and (not .ephemeral) (not .headless) }}
{{-   $fontDir := "" }}
{{-   if eq .chezmoi.os "darwin" }}
{{-     $fontDir = "Library/Fonts" }}
{{-   else if eq .chezmoi.os "linux" }}
{{-     $fontDir = ".local/share/fonts" }}
{{-   end }}
{{-   range (list
        "JetBrainsMono"
        "RobotoMono") }}
["{{ $fontDir }}/{{ . }}"]
    type = "archive"
    url = "https://github.com/ryanoasis/nerd-fonts/releases/download/v3.0.2/{{ . }}.zip"
    exact = true
    refreshPeriod = "168h"
{{-   end }}
{{- end }}

