#! /bin/bash

set -eufo pipefail

if [ ! "$(command -v rustc)" ]; then
  curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
  source "$HOME/.cargo/env"
fi

cargo install tree-sitter-cli
