#! /bin/bash

set -eufo pipefail

{{ $repos := list
     "ppa:rmescandon/yq" -}}
{{ $packages := list
     "bat"
     "curl"
     "git"
     "git-lfs"
     "jq"
     "libfuse2"
     "ripgrep"
     "shellcheck"
     "yq"
     "zsh" -}}
{{ $snaps := list "bottom" -}}
{{ $classicSnaps := list -}}

{{ if not .headless -}}
{{   $packages = mustAppend $packages 
     "xclip" -}}
{{   $classicSnaps = mustAppend $classicSnaps "code" -}}
{{ end -}}

{{ if .personal -}}
{{ end -}}

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

{{ range ($brews | sortAlpha | uniq) -}}
{{   $sudo }}add-apt-repository {{ . }}
{{ end -}}

{{ $sudo }}apt-get update
{{ $sudo }}apt-get install -y {{ $packages | join " " }}

{{ if lookPath "snap" }}
{{   range $snaps }}
( snap info {{ . }} | grep -q ^installed: ) || {{ $sudo }}snap install {{ . }}
{{   end }}
{{   range $classicSnaps }}
( snap info {{ . }} | grep -q ^installed: ) || {{ $sudo }}snap install --classic {{ . }}
{{   end }}
{{ end }}

LAZYGIT_VERSION=$(curl -s "https://api.github.com/repos/jesseduffield/lazygit/releases/latest" | grep -Po '"tag_name": "v\K[^"]*')
curl -Lo lazygit.tar.gz "https://github.com/jesseduffield/lazygit/releases/latest/download/lazygit_${LAZYGIT_VERSION}_Linux_x86_64.tar.gz"
tar xf lazygit.tar.gz lazygit
{{ $sudo }} install lazygit /usr/local/bin
 